@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.form-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
}

.form-card > h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  color: #ccc;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.form-group label {
  color: #ccc;
  margin-bottom: 10px;
  flex: 1;
  text-align: left;
  margin-right: 2%
}

.form-group input {
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #282c34;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  flex: 2;
}


.form-group input:focus {
  background-color: #fff;
}

.form-btn {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #43b929;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #54d23c;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
}

.form-footer p {
  color: #ccc;
}

.form-footer a {
  color: #43b929;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.form-group-captcha {
  display: flex;
  align-items: center; /* aligner les éléments verticalement */
  justify-content: space-between; /* aligner les éléments horizontalement */
  margin-bottom: 20px;
}

.form-group-captcha label {
  color: #ccc;
  margin-bottom: 10px;
  margin-right: 3%;
}

.form-group-captcha input {
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #282c34;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  flex: 2;
}

.form-group-captcha input:focus {
  background-color: #fff;
}

/* CSS code for captcha code and refresh button */
.captcha-code {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #43b929;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.captcha-refresh-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #43b929;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.captcha-refresh-btn:hover {
  background-color: #54d23c;
}


/* Écran avec une largeur maximale de 600 pixels */
@media screen and (max-width: 600px) {
  .form-card {
    max-width: 100%;
    padding: 10px;
  }
  .form-group input {
    font-size: 14px;
  }
  .form-btn {
    font-size: 16px;
    padding: 10px;
  }
  .captcha-code {
    font-size: 18px;
  }
  .captcha-refresh-btn {
    font-size: 14px;
    padding: 3px 5px;
  }
  .form-group-captcha {
    flex-direction: column;
  }
}

/* Écran avec une largeur minimale de 601 pixels et une largeur maximale de 900 pixels */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .form-card {
    max-width: 70%;
  }
  .captcha-code {
    font-size: 24px;
  }
  .captcha-refresh-btn {
    font-size: 16px;
    padding: 5px 10px;
  }
}

/* Écran avec une largeur minimale de 901 pixels */
@media screen and (min-width: 901px) {
  .form-card {
    max-width: 500px;
    padding: 20px;
  }
  .form-group input {
    font-size: 16px;
  }
  .form-btn {
    font-size: 20px;
    padding: 15px;
  }
  .captcha-code {
    font-size: 24px;
  }
  .captcha-refresh-btn {
    font-size: 16px;
    padding: 5px 10px;
  }
}